<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <permission
        android:name="MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="MAPS_RECEIVE"/>

    <application
        android:name=".acra.Acra"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.wallpaperchanger2"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        tools:targetApi="31">

        <activity
            android:name=".MainStart"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <!--  -->
        <activity
            android:name=".classeOnomastici.MainOnomastici"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeDetector.AndroidCameraApi"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".notificaTasti.ActivityDiStart"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeWallpaper.provider.WallpaperPerWidget"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeBackup.MainBackup"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classePlayer.preferiti_tags.Main_Preferiti_Tags"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classePassword.MainPassword"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeMappeSalvate.MainMappeSalvate"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeScaricaImmagini.MainScaricaImmagini"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeImmagini.MainMostraImmagini"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classePennetta.MainMostraPennetta"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeFetekkie.MainMostraFetekkie"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeGps.MainMappa"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeLog.MainLog"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classePlayer.MainPlayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeWallpaper.MainWallpaper"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeDetector.MainActivityDetector"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".utilities.RichiestaPath"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeModificaImmagine.Main_ModificaImmagine"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeImpostazioni.MainImpostazioni"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeVideo.MainMostraVideo"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classeFilms.MainMostraFilms"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".utilities.RichiestaPathImmaginiLocali"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".notifiche.NotificationDismissedReceiver"
            android:exported="false" >
        </receiver>

        <service android:name = ".classeAvvio.ServizioInterno"
            android:foregroundServiceType="specialUse|camera" />

        <service android:name = ".classeGps.GestioneGPS"
            android:foregroundServiceType="location" />

        <service android:name=".utilities.cuffie.GestioneTastiCuffieNuovo"
            android:foregroundServiceType="specialUse">
            <!-- <intent-filter android:priority="99999">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter> -->
        </service>

        <!-- <receiver android:name=".classePlayer.cuffie.GestioneTastiCuffie"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2139999999">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver> -->

        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".classeOnomastici.WidgetOnomastici"
            android:enabled="true"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings_onomastici" />
        </receiver>

        <receiver android:name=".watchDog.WidgetWatchdog"
            android:enabled="true"
            android:exported="true"
            android:label="Watchdog">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings_watchdog" />
        </receiver>

        <!-- <receiver android:name=".classiAttivitaDetector.VolumePressed"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".classiPlayer.HeadsetBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUESTED" />
            </intent-filter>
        </receiver> -->

        <receiver android:name=".utilities.chiamateTelefoniche.CallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <receiver android:name=".utilities.ScreenReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>

        <service android:name=".Segnale.ControlloSegnale2" />

        <service android:name=".classePlayer.GestioneNotifichePlayer$NotificationActionServicePlayer" />

        <service android:name=".classeWallpaper.GestioneNotificheWP$NotificationActionService" />

        <service android:name=".classeDetector.GestioneNotificheDetector$NotificationActionServiceDetector" />

        <!-- <service android:name=".notificaTasti.GestioneNotificheTasti$NotificationActionServiceTasti" /> -->

        <receiver android:name=".AutoStart.yourActivityRunOnStartup"
            android:enabled="true"
            android:directBootAware="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".classeDetector.widgets.Video"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".classeModifiche.MainModifiche"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".classeDetector.widgets.Audio"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".classeImmaginiUguali.MainImmaginiUguali"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".classeDetector.widgets.Photo"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".classePlayer.AprePlayerDaWidget"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name=".classeDetector.widgets.ProviderPhoto"
            android:exported="false"
            android:label="Detector Photo">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings_photo" />
        </receiver>

        <receiver android:name=".classePlayer.ProviderPlayer"
            android:exported="false"
            android:label="Player">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings_player" />
        </receiver>

        <receiver android:name=".classeDetector.widgets.ProviderVideo"
            android:exported="false"
            android:label="Detector Video">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings_video" />
        </receiver>

        <receiver android:name=".classeDetector.widgets.ProviderAudio"
            android:exported="false"
            android:label="Detector Audio">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings_audio" />
        </receiver>

        <receiver android:name=".classeWallpaper.provider.ProviderWallpaper"
            android:exported="false"
            android:label="Wallpaper">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings_wallpaper" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>