<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <permission
        android:name="MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="MAPS_RECEIVE"/>

    <application
        android:name=".acra.Acra"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.wallpaperchanger2"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".MainStart"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  -->
        <activity
            android:name=".classiAttivitaDetector.AndroidCameraApi"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".gps.Mappa"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MainWallpaper"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MainActivityDetector"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classiStandard.RichiestaPath"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".classiStandard.RichiestaPathImmaginiLocali"
            android:windowSoftInputMode="adjustResize" />

        <service android:name = ".classiStandard.ServizioInterno"
            android:foregroundServiceType="specialUse|location|camera" />

        <receiver android:name=".classiStandard.ScreenReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>

        <service android:name=".classiStandard.GestioneNotifiche$NotificationActionService" />

        <service android:name=".classiAttivitaDetector.GestioneNotificheDetector$NotificationActionServiceDetector" />

        <receiver android:name=".AutoStart.yourActivityRunOnStartup"
            android:enabled="true"
            android:directBootAware="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".classiAttivitaDetector.Receivers.Video"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".classiAttivitaDetector.Receivers.Audio"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".classiAttivitaDetector.Receivers.Photo"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name=".classiAttivitaDetector.Receivers.ProviderPhoto"
            android:exported="false"
            android:label="Detector Photo">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings_photo" />
        </receiver>

        <receiver android:name=".classiAttivitaDetector.Receivers.ProviderVideo"
            android:exported="false"
            android:label="Detector Video">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings_video" />
        </receiver>

        <receiver android:name=".classiAttivitaDetector.Receivers.ProviderAudio"
            android:exported="false"
            android:label="Detector Audio">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_settings_audio" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>